<div class="col-md-12 col-sm-12 col-xs-12 default-balance">
    <div class="text-right form-default-balance">
        <%= link_to topics_new_path do %>
            <strong>トピック作成</strong><i class="fa fa-pencil-square-o fa-3x"></i>
        <% end %>
    </div>
    <div class="text-center default-balance">
        カテゴリー一覧：
    </div>

    <div class="col-md-2 col-sm-4 text-center takasa-link">
        <%= link_to category_topic_path(1) do %>
            仕事<i class="fa fa-briefcase fa-3x"></i>
        <% end %>
    </div>
     <div class="col-md-2 col-sm-4 text-center takasa-link">
        <%= link_to category_topic_path(2) do %>
            雑談<i class="fa fa-commenting-o fa-3x"></i>
        <% end %>
    </div>
    <div class="col-md-2 col-sm-4 text-center">
        <%= link_to category_topic_path(3) do %>
            動物<i class="fa fa-paw fa-3x"></i>
        <% end %>
    </div>
    <div class="col-md-2 col-sm-4 text-center">
        <%= link_to category_topic_path(4) do %>
            趣味<i class="fa fa-smile-o fa-3x"></i>
        <% end %>
    </div>
    <div class="col-md-2 col-sm-4 text-center takasa-link">
        <%= link_to category_topic_path(5) do %>
            <strong>その他<i class="fa fa-question-circle fa-3x"></i></strong>
        <% end %>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2">
        <h3 class="text-center">トピック一覧</h3>
        <% if Topic.exists? %>
            <% @topic_all.each do |topic| %>
            <div class="container-fluid bg-color space-default default-bottom-form">
               
                <div class ="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 container-fluid image-space-default hei-img-topic parent-box">
                     <% if current_user.include_favo?(topic.id)%>
                        <span class="mark-favo1">
                            お気に入り済み
                        </span>
                    <% else %>
                        <span class="mark-favo2">
                            お気に入りしていません
                        </span>
                    <% end %>
                    <% if topic.topic_image.blank? %>
                        <%= image_tag 'nothing-image.png'%>
                    <% else %>
                        <%= image_tag topic.topic_image %>
                    <% end %>
                </div>
                <div class="clear"></div>
                <%= link_to preview_topic_path(topic.id) do %>
                    <div class="text-center border-un cut-text"><strong><%= topic.title %></strong></div>
                <% end %>
                <p class="border-un">
                    <%= topic.created_at.strftime("%Y年%m月%d日_%H:%M:%S") %> | コメント数： <%= @topic_message = Message.where(topic_id: topic.id).count %>
                </p>
                
                <p class="border-un">
                    <%user = User.find(topic.user_id) %>
                    投稿ユーザー：<%= user.name %> | 
                 ジャンル：
                  <% if topic.genre == "1" %>
                       仕事
                    <% elsif topic.genre == "2"  %>
                        雑談
                    <% elsif topic.genre == "3"%>
                        動物
                    <% elsif topic.genre == "4" %>
                        趣味
                    <% elsif topic.genre == "5" %>
                        その他
                    <% end %>
                 </p>
                <div>
                   <%= topic.content %>
                </div>
            </div>
            <% end %>
            <div class="center-block text-center">
                <%= paginate @topic_all%>
            </div>
        <% else %>
            <div class="text-center bg-info">
                まだトピックがありません
            </div>
        <% end %>
    </div>
</div>