<div class="col-md-12 col-sm-12 col-xs-12 default-balance">
    <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2">
        <div class="bg-color container-fluid kadomaru-default space-default">
            <% @topic.each do |topic| %>
            <div class="col-md-6 col-sm-8 col-xs-12 hei-img-topic image-space-default">
                <% if topic.topic_image.blank? %>
                    <%= image_tag 'nothing-image.png' %>
                <% else %>
                    <%= image_tag topic.topic_image %>
                <% end %>
            </div>
            <!--お気に入りボタン-->
            <div class=" col-md-6 col-sm-4 col-xs-12 text-center">
                <% if current_user.include_favo?(topic.id) %>
                    お気に入りを解除してもいいですか？
                    <%= link_to favorite_path(topic.id),method: :delete do %>
                        <div class="text-center"style="color:yellow"><i class="fa fa-star fa-4x"></i></div>
                    <% end %>
                <% else %>
                    お気に入りに追加しますか？
                    <%= link_to favorites_path(topic:{id: topic.id}),method: :post do %>
                        <div class="text-center"style="color:gray"><i class="fa fa-star fa-4x"></i></div>
                    <% end %>
                <% end %>
            </div>
            <div class="col-md-8 col-sm-10 col-xs-12 col-sm-offset-1 col-md-offset-2">
                 <p class="border-un"><strong>タイトル:<%= topic.title %></strong></p>
                 <p class="border-un">公開日：<%= topic.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></p>
                 <p class="border-un">
                     ジャンル：
                      <% if topic.genre == "1" %>
                               仕事
                            <% elsif topic.genre == "2"  %>
                                雑談
                            <% elsif topic.genre == "3"%>
                                動物
                            <% elsif topic.genre == "4" %>
                                趣味
                            <% elsif topic.genre == "5" %>
                                その他
                            <% end %>
                 </p>
                 <%user = topic.user_id%>
                <p class="border-un">作成者:<%= User.find(user).name %></p> 
                <div class="border-un">
                    <p>説明</p>
                    <%= topic.content %>
                </div>
                <p>公開設定</p>
                <% if topic.public ==0 %>
                    <div class="dropdown">
                        <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            参加ユーザー一覧
                            <span class="caret"></span>
                        </div>
                        
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <% user_join = topic.join_user %>
                            <% user_list = user_join.split(',') %>
                            <% user_list.each do |list| %>
                                <li><%= User.find(list).name %></li>
                            <% end %>
                        </ul>
                    </div>
                <% else %>
                    <p>すべてのユーザー</p>
                <% end %>
           </div>
       </div>
    </div>
</div>
<div class="clear"></div>
<!--<div>メッセージ一覧</div>-->
<%= render template: 'messages/preview',locals:{topic_id: topic.id} %>
<!--<div>メッセージ投稿</div>-->
<%= render template: 'messages/new', locals:{topic_id: topic.id} %>
            <% end %>
   

