<div class="col-md-12 col-sm-12 col-xs-12 default-balance">
    <h3 class="text-center form-default-balance">ユーザー一覧</h3>
    
    <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2">
        <div class="form-default-balance">
            <div class="form-group center-block"style="width:250px">
                <%= form_tag(word_create_users_path,method: 'post') do %>
                    <%= text_field_tag 'word',@word,:placeholder => '検索したいユーザー名' %>
                    <%= submit_tag('検索',:class => 'default-button')%>
                <% end %>
            </div>
        </div>
        <% @user.each do |user| %>
            <div class="back-white clear tatehami form-default-balance space-default">
                <div class="col-md-3">
                    <% user_info = User.find(user.id) %>
                    <!--プロフ画像-->
                    <% if Photo.find_by(user_id: user.id).blank? %>
                        <%= image_tag 'nothing-image.png',:class => 'img-responsive'%>
                    <% else %>
                        <%= image_tag user_info.photo.image_url,:class => 'img-responsive' %>
                    <% end %>
                </div>
                <div class="col-md-7">
                    <div>
                        ユーザーネーム：
                        <%= user.name %>
                    </div>
                    <!--プロフ情報-->
                    <% if Profile.find_by(user_id: user.id).blank? %>
                        <div>
                            <p>まだプロフィール情報は投稿されていません</p>
                        </div>
                    <% else %>
                        <div>
                            Twitter:
                            <%= link_to user_info.profile.homepage,"https://twitter.com/#{user_info.profile.homepage}" %>
                        </div>
                        <div>
                            Homepage:
                            <%= link_to user_info.profile.twitter,user_info.profile.twitter %>
                        </div>
                        <div>
                            コメント:
                            <% user_info.profile.content %>
                        </div>
                    <% end %>
                </div>
                <div class="col-md-2">
                    <%unless current_user.id == user.id %>
                        <% if current_user.following?(user) %>
                            <%= form_for(current_user.friends.find_by(follow_id: user.id),url: user_path(user.id),html:{method: :delete}) do |f| %>
                                <%= hidden_field_tag :follow_id,user.id %>
                                <%= f.submit '友達解除',class: 'btn btn-danger btn-block' %>
                            <% end %>
                        <% else %>
                            <% @friend = current_user.friends.build %>
                            <%= form_for(@friend,url: create_friend_users_path,html:{method: :post}) do |f| %>
                            <%= hidden_field_tag :follow_id,user.id %>
                            <%= f.submit '友達登録',class: 'btn btn-primary btn-block' %>
                            <% end %>
                        <% end%>
                    <% end %>
                </div>
            </div>
        <% end %>
        <%= paginate @user %>
    </div>
</div>